<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {% if submitAction == "add" %}
        <title>Add caregiver</title>
    {% endif %}
    {% if submitAction == "edit" %}
        <title>Edit caregiver</title>
    {% endif %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }
    </style>
</head>
<body>
<h1>AGH Care Center</h1>
{% if ok %}
    <h3 style="color: red">{{ ok }}</h3>
{% endif %}
{% if submitAction == "add" %}
    <h3>Add caregiver</h3>
{% endif %}
{% if submitAction == "edit" %}
    <h3>Edit caregiver</h3>
{% endif %}

{% if submitAction == "add" %}
    <form action="/caregivers/add/" method="POST">
        <table>
            {{ state }}
        </table>
        <input type="submit" value="Submit"/>
    </form>
{% endif %}

{% if submitAction == "edit" %}
    <form action="/caregivers/{{ id }}/success/" method="POST">
        <table>
            {{ state }}
        </table>
        <input type="submit" value="Submit"/>
    </form>
{% endif %}

<br>
<br>

<form action="/">
    <input type="submit" value="Back"/>
</form>
<form action="/logout/">
    <input type="submit" value="Log Out"/>
</form>


</body>
</html>