<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Log in</title>
    {% load staticfiles %}

    <link rel='stylesheet' type='text/css' href='{% static 'login/style.css' %}'/>

    <script type="text/javascript" src='{% static 'schedule/js/jquery-1.7.1.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'login/selectivizr.js' %}'></script>
    <noscript>
        <link rel="stylesheet" href='{% static 'login/fallback.css' %}'/>
    </noscript>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }
    </style>
</head>

<body>
<div id="container">
    <form action="/" method="post">
        <div class="login">AGH Care Center</div>
        <div class="username-text">Username:</div>
        <div class="password-text">Password:</div>
        <div class="username-field">
            <input type="text" name="username" value=""/>
        </div>
        <div class="password-field">
            <input type="password" name="password" value=""/>
        </div>
        <div style="display:none;"><input type="checkbox" name="remember-me" display="none" id="remember-me"/><label
                for="remember-me"></label></div>
        <div class="forgot-usr-pwd"><a href="#"></a> <a href="#"></a></div>
        <input type="submit" align="right" name="submit" value="GO"/>
    </form>
</div>
</body>
</html>