<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Plan</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<style>

    body {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #calendar {
        width: 900px;
        margin: 0 auto;
    }
</style>

{% load staticfiles %}

<link rel='stylesheet' type='text/css' href='{% static 'schedule/fullcalendar/fullcalendar.css' %}'/>
<link rel='stylesheet' type='text/css' href='{% static 'schedule/fullcalendar/fullcalendar.print.css' %}'
      media='print'/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<script type='text/javascript' src='{% static 'schedule/js/jquery.min.js' %}'></script>
<script src={% static 'schedule/js/jquery-ui.js' %}></script>

<script type='text/javascript' src='{% static 'schedule/fullcalendar/fullcalendar.min.js' %}'></script>


<script type="text/javascript">

    $(document).ready(function (False, json_list) {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var django_boolean = {{ editable }};
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            selectable: django_boolean,
            selectHelper: true,
            eventClick: function (calEvent, jsEvent, view) {
                if (calEvent) {
                    return false;
                }
            },
            eventResize: function (event, dayDelta, minuteDelta, revertFunc) {
                $.ajax({
                    type: 'POST',
                    url: 'update_drop_event/',
                    data: {
                        'start': event.start,
                        'end': event.end,
                        'id': event.id
                    }

                });
            },
            eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                $.ajax({
                    type: 'POST',
                    url: 'update_drop_event/',
                    data: {
                        'start': event.start,
                        'end': event.end,
                        'allDay': event.allDay,
                        'id': event.id
                    }

                });
            },
            select: function (start, end, allDay) {

                $("#eventAddLink").attr('href', 'add_event/');
                $("#start_date_event").val(start);
                $("#end_date_event").val(end);
                $("#all_day_event").val(allDay);

                $("#eventAdd").dialog({ modal: true, autoOpen: false, title: 'Add new event', height: '370', width: '200' });

                $('#eventAdd').dialog('open');

                calendar.fullCalendar('unselect');
            },
            removeEvent: true,
            editable: true,
            events: {{ events|safe }},
            eventRender: function (event, element) {
                element.attr('href', 'javascript:void(0);');
                element.attr('onclick', 'openModal("' + 'Event details' + '","' + event.title + '","' + 'events/'
                        + event.id + '/", "' + event.start + '", "' + event.end + '", "' + event.type + '", "' + event.id
                        + '", "' + event.value1 + '", "' + event.value2 + '");');
            }
        });
    });

    function getNormalDateFormat(date) {
        var dateParts = date.split(' ');
        var newDate = '';
        for (var i = 0; i < 5; i++) {
            newDate += dateParts[i] + ' ';
        }
        return newDate;
    }

    function saveEvent() {
        var event_id = $("#eventId").html();
        if (document.getElementById('eventCheck').style.display == 'inline') {
            var checked = $("#eventCheckbox").val()
            $.ajax({
                type: 'POST',
                url: 'save_event/',
                data: {
                    'value': checked,
                    'type': '1',
                    'id': event_id
                },
                success: function () {
                    setTimeout(function () {
                        location.reload()
                    }, 1)
                }

            });
        } else if (document.getElementById('measure1').style.display == 'inline'
                && document.getElementById('measure2').style.display == 'none') {
            var measure = $("#eventMeasure1").val()
            $.ajax({
                type: 'POST',
                url: 'save_event/',
                data: {
                    'value': measure,
                    'type': '2',
                    'id': event_id
                },
                success: function () {
                    setTimeout(function () {
                        location.reload()
                    }, 1)
                }

            });
        } else {
            var measure1 = $("#eventMeasure1").val()
            var measure2 = $("#eventMeasure2").val()
            $.ajax({
                type: 'POST',
                url: 'save_event/',
                data: {
                    'value1': measure1,
                    'value2': measure2,
                    'type': '3',
                    'id': event_id
                },
                success: function () {
                    setTimeout(function () {
                        location.reload()
                    }, 1)
                }

            });
        }
    }

    function openModal(title, info, url, start, end, type, event_id, value1, value2) {
        var map = new Object(); // or var map = {};
        map['1'] = 'Standard';
        map['2'] = 'Measure';
        map['3'] = 'BloodPressure';
        $("#eventInfo").html(info);
        $("#eventStart").html(getNormalDateFormat(start));
        var options = {
            weekday: "long", year: "numeric", month: "short",
            day: "numeric", hour: "2-digit", minute: "2-digit"
        };
        if (end == 'null') {
            end = "All day";
        }
        else {
            end = getNormalDateFormat(end);
        }

        $("#eventEnd").html(end);
        var perm = '{{ perm }}';
        if (type == '1') {
            document.getElementById('eventCheck').style.display = 'inline';
            if (value1 == '1')
                document.getElementById('eventCheckbox').checked = true;
            else
                document.getElementById('eventCheckbox').checked = false;
            document.getElementById('measure1').style.display = 'none';
            document.getElementById('measure2').style.display = 'none';
        } else if (type == '2') {
            document.getElementById('eventCheck').style.display = 'none';
            document.getElementById('measure1').style.display = 'inline';
            document.getElementById('eventMeasure1').value = value1;
            document.getElementById('measure2').style.display = 'none';
        } else if (type == '3') {
            document.getElementById('eventCheck').style.display = 'none';
            document.getElementById('measure1').style.display = 'inline';
            document.getElementById('eventMeasure1').value = value1;
            document.getElementById('measure2').style.display = 'inline';
            document.getElementById('eventMeasure2').value = value2;
        }
        if (perm != 'patient') {
            if (type == '1')
                document.getElementById('eventCheckbox').disabled = true;
            else if (type == '2')
                document.getElementById('eventMeasure1').disabled = true;
            else
                document.getElementById('eventMeasure1').disabled = true;
            document.getElementById('eventMeasure2').disabled = true;

        }
        $("#eventType").html(map[type]);
        $("#eventId").html(event_id);
        $("#eventLink").attr('href', url);
        $("#eventDelete").attr('href', url + 'delete/');
        $("#eventContent").dialog({ modal: true, title: title });
    }
</script>

<script>
    $(document).ready(function () {

        $('#eventButton').click(function () {
            if ($("#title_event").val() == '') {
                alert('Enter the title first')

            } else if ($("#type_event").val() == 'Measure' && ($("#minValue_id").val() == '' || $("#maxValue_id").val() == '')) {
                alert('Fill the min/max values.')
            } else if ($("#type_event").val() == 'Blood Pressure' && ($("#minValue_id").val() == '' || $("#maxValue_id").val() == '' || $("#secMinValue_id").val() == '' || $("#secMaxValue_id").val() == '')) {
                alert('Fill the min/max values.')
            }
            else {
                $('#eventAdd').dialog('close');

                $.ajax({
                    type: 'POST',
                    url: 'add_event/',
                    data: {
                        'title': $("#title_event").val(),
                        'start': $("#start_date_event").val(),
                        'end': $("#end_date_event").val(),
                        'allDay': $("#all_day_event").val(),
                        'type': $("#type_event").val(),
                        'min': $("#minValue_id").val(),
                        'max': $("#maxValue_id").val(),
                        'secMin': $("#secMinValue_id").val(),
                        'secMax': $("#secMaxValue_id").val()

                    },
                    success: function () {
                        setTimeout(function () {
                            location.reload()
                        }, 1)
                    }

                });
            }
        });
    });
</script>


<script type="text/javascript">
    function fieldChange() {
        if ($("#type_event").val() == 'Standard') {
            document.getElementById('minValue').style.display = 'none';
            document.getElementById('maxValue').style.display = 'none';
            document.getElementById('secMinValue').style.display = 'none';
            document.getElementById('secMaxValue').style.display = 'none';
        } else if ($("#type_event").val() == 'Measure') {
            document.getElementById('minValue').style.display = 'inline';
            document.getElementById('maxValue').style.display = 'inline';
            document.getElementById('secMinValue').style.display = 'none';
            document.getElementById('secMaxValue').style.display = 'none';
        } else {
            document.getElementById('minValue').style.display = 'inline';
            document.getElementById('maxValue').style.display = 'inline';
            document.getElementById('secMinValue').style.display = 'inline';
            document.getElementById('secMaxValue').style.display = 'inline';
        }

    }
</script>


</head>
<body>
<h1>AGH Care Center</h1>

<h3>Plan for patient: {{ fullname }}</h3>
<br>

<div id="eventContent" title="Event Details" style="display: none">
    <p>

    <div id="eventInfo" style="font-weight: bold"></div>
    </p>
    <div id="eventId" style="display: none"></div>
    <div>Start: <span id="eventStart"></span></div>
    <div>End: <span id="eventEnd"></span></div>
    <div>Type: <span id="eventType"></span></div>
    <br>

    <div id="eventCheck" style="display:none">
        <form action="set">
            <input id="eventCheckbox" type="checkbox" name="check" value="Done"/>Done
        </form>
    </div>
    <div id="measure1" style="display:none">
        Value:
        <form action="set1">
            <input id="eventMeasure1" type="text" name="measure1" value=""/>
        </form>
    </div>
    <div id="measure2" style="display:none">
        Value:
        <form action="set2">
            <input id="eventMeasure2" type="text" name="measure2" value=""/>
        </form>
    </div>
    {% if editable %}

        <p><strong><a id="eventLink">Edit</a></strong><strong style="padding-left:5em"><a
                id="eventDelete">Delete</a></strong></p>
    {% endif %}
    {% if perm == 'patient' %}
        <p><strong><input id="eventSave" type="button" value="Save" onclick="saveEvent();"/></strong></p>
    {% endif %}
</div>

<div id="eventAdd" title="Event Details" style="display: none">
    <div id="eventTitle">Event title: <input id="title_event" type="text" name="eventTitle"></div>
    <div id="eventType">Event type:
        <select onchange="fieldChange()" id="type_event" name="type">
            <option value="Blood Pressure">Blood Pressure</option>
            <option value="Measure">Measure</option>
            <option value="Standard">Standard</option>
        </select>
    </div>

    <div id="minValue">Min Value <input id="minValue_id" type="text" name="minValue"></div>
    <div id="maxValue">Max Value <input id="maxValue_id" type="text" name="minValue"></div>

    <div id="secMinValue">2nd Min Value <input id="secMinValue_id" type="text" name="minValue"></div>
    <div id="secMaxValue">2nd Max Value <input id="secMaxValue_id" type="text" name="minValue"></div>

    <div id="startDateEvent"><input id="start_date_event" type="hidden" name="eventTitle"></div>
    <div id="endDateEvent"><input id="end_date_event" type="hidden" name="eventTitle"></div>
    <div id="allDayEvent"><input id="all_day_event" type="hidden" name="eventTitle"></div>

    <br>
    <input id="eventButton" type="submit" value="Add new event"/>
</div>


<div id='calendar'></div>


<br>
<br>


<form action="/">
    <input type="submit" value="Back"/>
</form>
<form action="/logout/">
    <input type="submit" value="Log Out"/>
</form>

</body>
</html>