<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Edit event</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }
    </style>
</head>
<body>
<h1>AGH Care Center</h1>
{% if ok %}
    <h3 style="color: red">{{ ok }}</h3>
{% endif %}
<h3>Edit event</h3>

<form action="/patients/{{ id }}/events/{{ event_id }}/success/" method="POST">
    <table>
        {{ state }}
    </table>
    <input type="submit" value="Submit"/>
</form>
<br>
<br>

<form action="/">
    <input type="submit" value="Back"/>
</form>
<form action="/logout/">
    <input type="submit" value="Log Out"/>
</form>


</body>
</html>