<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Home</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }
    </style>

</head>
<body>
<h1>AGH Care Center</h1>

<h3>Information about you:</h3>
Fullname: {{ fullname }} <br>
Group name: {{ group }} <br><br>

{% if group == 'patient' %}
    Caregiver:  {{ caregiver_first_name }}  {{ caregiver_last_name }} <br><br>
    <b> Send e-mail to your caregiver</b> <br><br>
    <form action="mailto:{{ caregiver_mail }}" method="GET">
        <b>Subject</b><br>
        <input name="subject" type="text"/>
        <br>
        <b>Content</b><br>
        <textarea name="body"></textarea>
        <input type="submit" value="Send"/>
    </form>
{% endif %}

<h3>Functionality:</h3>
{% if group == 'admin' %}
    <form action="/caregivers/add/">
        <input type="submit" value="Add caregiver"/>
    </form>
    <form action="/patients/add/">
        <input type="submit" value="Add patient"/>
    </form>
    <form action="/caregivers/">
        <input type="submit" value="Caregivers"/>
    </form>
    <form action="/patients/">
        <input type="submit" value="Patients"/>
    </form>
{% endif %}
{% if group == 'caregiver' %}
    <form action=/caregivers/{{ id }}/>
        <input type="submit" value="Patients"/>
    </form>
{% endif %}

{% if group == 'patient' %}
    <form action=/patients/{{ id }}/>
        <input type="submit" value="Care Plan"/>
    </form>
{% endif %}
<br>
<br>

<form action="logout/">
    <input type="submit" value="Log Out"/>
</form>
<br>

</body>
</html>