<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css"/>
    <title>Patients</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }
    </style>
</head>
<body>
<h1>AGH Care Center</h1>

<h3>Patients</h3>
{% load render_table from django_tables2 %}
{% render_table state %}
<br>
<br>

<form action="/">
    <input type="submit" value="Back"/>
</form>
<form action="/logout/">
    <input type="submit" value="Log Out"/>
</form>


</body>
</html>
